/* Override global primary color 100 to red */
:root {
  --pf-global--primary-color--100: var(--pf-global--palette--red-400);
}

/* Override the above override for only the primary button background color */
.pf-c {
  --pf-c-button--m-primary--BackgroundColor: var(--pf-global--palette--green-400);
  padding-left: 1 em;
  margin-block: 1 em;
  background: inherit;
}